extends ../../layouts/default.pug
block main 
  if(user.permissions.includes("schedule_edit"))
    h6 Lịch học lớp #{classManagement.name}  Năm học #{year}  Học kỳ #{semester} 

    table(
      class="table table-hover table-sm"
      table-schedule-edit
      class-management-id = classManagement._id
      year = year 
      semester = semester
    )
      thead 
        tr
          th Ca
          each thu in ["Thứ 2","Thứ 3","Thứ 4","Thứ 5","Thứ 6","Thứ 7"]
            th #{thu}
      tbody
        each ca in [1,2,3,4]
          tr 
            td #{ca}
              -for(let i=2;i<=7;i++)
                td
                  select(name="schedule" id="schedule" row=ca col=i)
                    option(disabled value="" selected) -- Chọn --
                    each classRoom in classRooms
                      option(value = classRoom._id selected=(listClassRoomResult[ca + '-' + i])==classRoom._id) #{classRoom.courseName}

    button(type="submit" button-edit-schedule class="btn btn-success float-end") Lưu

    script(src="/admin/js/schedule.js")

  else 
    h1 Không có quyền truy cập