extends ../../layouts/default.pug

block main
  if(user.permissions.includes("programFrame_edit"))
    h1(class="mb-4") Chỉnh sửa chương trình khung

    form(
      action=`${prefixAdmin}/programFrame/edit/${programFrame._id}?_method=PATCH`
      method="POST"
    )
      div Tên khoa :  #{department.name}
        
      div Học kỳ : #{programFrame.semester}
      
      div(class="form-group")
        label(for="id_course") Danh sách môn học
        table(
          class="table table-hover table-sm"
          table-courses
        )
          tbody
            each course in listCourse
              tr 
                td(class="text-center") 
                  input(type="checkbox" name="id_course" value=course._id checked=(programFrame.id_course.includes(course._id)?true:false))
                td #{course.name}
    
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusActive"
          name="status"
          value="active"
          checked = (programFrame.status=="active"?true:false)
        )
        label(for="statusActive" class="form-check-label") Hoạt động
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusInActive"
          name="status"
          value="inactive"
          checked = (programFrame.status=="inactive"?true:false)
        )
        label(for="statusInActive" class="form-check-label") Dừng hoạt động
      div(class="form-group")
        button(
          type="submit"
          class="btn btn-primary"
        ) Chỉnh sửa
  h1 Không có quyền truy cập