extends ../../layouts/auth.pug

block main 
  .container.my-5
    .row.justify-content-center
      .col-8
        h1(class="text-center") Nhập mã OTP

        form(
          action=`${prefixAdmin}/auth/otp?email=${email}`
          method="POST"
        )
          div(class="form-group")
            label(for="otp") Mã OTP: 
            input(
              type="text"
              name="otp"
              id="otp"
              class="form-control"
              required
            )
          div(form-group)
            button(
              type="submit"
              class="btn btn-primary btn-block"
            ) Gửi