extends ../../layouts/default.pug

block main
  h1(class="mb-4") Thêm mới giảng viên

  form(
    action=`${prefixAdmin}/teacher/edit/${teacher._id}?_method=PATCH`
    method="POST"
    enctype="multipart/form-data"
  )
    div(class="form-group")
      label(for="name") Họ tên *
      input(
        type="text"
        class="form-control"
        id="name"
        name="name"
        required
        value=teacher.name
      )
    
    div(class="form-group")
      label(for="id_department") Thuộc khoa
      select(name="id_department" id="id_department" class="form-control")
        option(disabled) -- Chọn --
        each department in departments
          option(value=department._id checked=(department._id == teacher.id_department)) #{department.name}
    
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="genderNam"
        name="gender"
        value=0
        checked = (teacher.gender == 0 ? true : false)
      )
      label(for="genderNam" class="form-check-label") Nam
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="genderNu"
        name="gender"
        value=1
        checked = (teacher.gender == 1 ? true : false)
      )
      label(for="genderNu" class="form-check-label") Nữ

    div(
      class="form-group"
      upload-image
    )
      label(for="avatar") Avatar
      input(
        type="file"
        class="form-control-file"
        id="avatar"
        name="avatar"
        accept="image/*"
        upload-image-input
      )
      img(
        src=""
        class="image-preview"
        upload-image-preview
        style="width:150px"
      )

    div(class="form-group")
      label(for="name") Quê quán
      input(
        type="text"
        class="form-control"
        id="countryside"
        name="countryside"
        required
        value = teacher.countryside
      )
    
    div(class="form-group")
      label(for="birthday") Ngày sinh
      input(
        type="date"
        class="form-control"
        id="birthday"
        name="birthday"
        value = teacher.birthday
      )
    
    div(class="form-group")
      label(for="salary") Lương/1 buổi
      input(
        type="number"
        class="form-control"
        id="salary"
        name="salary"
        required
        value = teacher.salary
      )

    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusActive"
        name="status"
        value="active"
        checked = (teacher.status == "active"?true:false)
      )
      label(for="statusActive" class="form-check-label") Đang dạy
    div(class="form-group form-check form-check-inline")
      input(
        type="radio"
        class="form-check-input"
        id="statusInActive"
        name="status"
        value="inactive"
        checked = (teacher.status == "inactive"?true:false)
      )
      label(for="statusInActive" class="form-check-label") Đang nghỉ

    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Chỉnh sửa