extends ../../layouts/default

block main
  if(user.permissions.includes("course_view"))
    if(course)
      if(course.name)
        div(class="mb-4") Tên môn : #{course.name}

      if(course.credits)
        div(class="mb-4") Số tín chỉ : #{course.credits}

      if(course.theory)
        div(class="mb-4") Số tiết lý thuyết : #{course.theory}

      if(course.practice)
        div(class="mb-4") Số tiết thực hành : #{course.practice}

      div(class="mb-4") Danh sách các lớp học phần 

      if (course.status)
        div(class="mb-4")
          span Trạng thái :
          if (course.status === "active")
            span(class="btn btn-success") Hoạt động
          else
            span(class="btn btn-danger") Dừng hoạt động
      if(user.permissions.includes("course_edit"))
        a(
          class="btn btn-warning btn-sm"
          href = `${prefixAdmin}/course/edit/${course._id}`
          ) <b>Chỉnh sửa</b>
    else  
      h1(class="mb-4") Không tìm thấy môn học
  else 
    h1 Không có quyền truy cập
  

    