extends ../../layouts/default.pug
include ../../mixins/moment.pug

block main
  if(classRoom)
    if(classRoom.name)
      div(class="mb-4") Lớp học phần : #{classRoom.name}

    if(classRoom.courseName)
      div(class="mb-4") Môn học : #{classRoom.courseName}
    
    if(classRoom.listStudent)
      div(class="mb-4") Số sinh viên : #{classRoom.listStudent.length}

    if(classRoom.semester)
      div(class="mb-4") Học kỳ : #{classRoom.semester}

    if(classRoom.year)
      div(class="mb-4") Năm học : #{classRoom.year}
    
    if (classRoom.status)
      div(class="mb-4")
        span Trạng thái :
        if (classRoom.status === "active")
          span(class="btn btn-success") Đang học
        else
          span(class="badge text-bg-primary") Đã hoàn thành

    if(listStudent)
      .card.mb-3
        .card-header Danh sách sinh viên
        .card-body 
          table(
            class="table table-hover table-sm"
          )
            thead
              tr 
                th STT
                th Mã sinh viên
                th Họ tên
                th Ngày sinh
                th Điểm quá trình
                th Điểm thi
                th Điểm hệ 10
                th Điểm hệ 4
            tbody    
              each student, index in listStudent 
                tr
                  td #{index + 1}
                  td #{student.studentCode}
                  td #{student.name}
                  td 
                    +formatDate(student.birthday)
                  td #{student.pointProcess||""}
                  td #{student.pointTest||""}
                  td #{student.point10||""}
                  td #{student.point4||""}

    if(classRoom.status=="active")
      a(
        class="btn btn-warning btn-sm"
        href = `/insertPoint/edit/${classRoom._id}?year=${yearSeleted}&semester=${semesterSelected}`
        ) <b>Nhập điểm</b>
  else  
    h1(class="mb-4") Không tìm thấy lớp học phần
