extends ../../layouts/default

block main 
  if(user.permissions.includes("role_view"))
    h1(class="mb-4") Danh sách nhóm quyền
    .card.mb-3
      .card-header Danh sách
      .card-body 
        .row 
          if(user.permissions.includes("role_create"))
            .col-8 
              .col-4.text-right 
                a(
                  href=`${prefixAdmin}/role/create`
                  class="btn btn-outline-success"
                ) +Thêm mới
          if(user.permissions.includes("role_permission"))
            .col-4.text-right 
              a(
                href=`${prefixAdmin}/role/permissions`
                class="btn btn-primary"
              ) Phân quyền

        table(
          class="table table-hover table-sm"
        )
          thead
            tr 
              th STT 
              th Tên quyền
              th Mô tả
              th Trạng thái
              th Hành động
          tbody 
            if(roles && roles.length>0)
              each role,index in roles 
                tr 
                  td #{index+1}
                  td #{role.name}
                  td #{role.description}
                  td 
                    if(user.permissions.includes("role_edit"))
                      if(role.status == "active")
                        a(
                          href="javascript:;" 
                          class="badge text-bg-success"
                          type="role"
                          data-status=role.status
                          data-id=role._id
                          ) Hoạt động 
                      else 
                        a(
                          href="javascript:;" 
                          class="badge text-bg-danger"
                          data-status=role.status
                          data-id=role._id
                          type="role"
                          ) Dừng hoạt động
                    else 
                      if(role.status == "active")
                        span(
                          class="badge text-bg-success"
                          ) Hoạt động 
                      else 
                        span(
                          class="badge text-bg-danger"
                          ) Dừng hoạt động
                  td 
                    if(user.permissions.includes("role_view"))
                      a(
                        class="btn btn-secondary btn-sm"
                        href=`${prefixAdmin}/role/detail/${role._id}`
                      ) Chi tiết
                    if(user.permissions.includes("role_edit"))
                      a(
                        class="btn btn-warning btn-sm"
                        href=`${prefixAdmin}/role/edit/${role._id}`
                      ) Sửa
                    if(user.permissions.includes("role_delete"))
                      button(
                        class="btn btn-danger btn-sm ml-1"
                        button-delete
                        data-id=role._id
                        type="role"
                      ) Xóa
            else
              tr
                td(colspan="4" class="text-center") 
                  h3 Chưa có nhóm quyền
  else 
    h1 Không có quyền truy cập
