extends ../../layouts/default.pug

block main 
  h1(class="mb-4") Dổi mật khẩu

  form(
    action = `/user/changePassword?_method=PATCH`
    method="POST"
  )
    div(class="form-group")
      label(for="password") Mật khẩu cũ : 
      input(
        type="password"
        name="password"
        id="password"
        required 
        class="form-control"
        )
    
    div(class="form-group")
      label(for="newPassword") Mật khẩu mới : 
      input(
        type="password"
        name="newPassword"
        id="newPassword"
        required 
        class="form-control"
        )
    
    div(class="form-group")
      label(for="reNewPassword") Xác nhận mật khẩu : 
      input(
        type="password"
        name="reNewPassword"
        id="reNewPassword"
        required 
        class="form-control"
        )
    
    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Cập nhật