extends ../../layouts/default
include ../../mixins/moment

block main
  if(student)
    if(student.avatar)
      image(src=student.avatar alt="Ảnh đại diện" style="width:200px")

    if(student.name)
      div(class="mb-4") Họ tên: #{student.name}

    if(student.studentCode)
      div(class="mb-4") Mã sinh viên: #{student.studentCode}
    
    if (student.id_classManagement)
      div(class="mb-4") Lớp quản lý: #{student.id_classManagement}

    if (student.course)
      div(class="mb-4") Khóa học: #{student.course}

    if (student.gender)
      div(class="mb-4") Giới tính: #{student.gender==0?"Nam":"Nữ"}
    
    if(student.countryside)
      div(class="mb-4") Quê quán: #{student.countryside}
    
    if (student.birthday)
      div(class="mb-4") Ngày sinh: 
        +formatDate(student.birthday)
    
    if(student.phone)
      div(class="mb-4") Số điện thoại: #{student.phone}

    if(student.gpa)
      div(class="mb-4") Điểm trung bình: #{student.gpa}

    if(account.email)
      div(class="mb-4") Email: #{account.email}
    
    if (student.status)
      div(class="mb-4")
        span Trạng thái :
        if (student.status === "active")
          span(class="badge text-bg-success") Đang học
        else if (student.status === "inactive")
          span(class="badge text-bg-danger") Đã nghỉ học
        else
          span(class="badge text-bg-primary") Đã tốt nghiệp

    a(
      class="btn btn-warning btn-sm"
      href = `${prefixAdmin}/student/edit/${student._id}`
      ) <b>Chỉnh sửa</b>
  else  
    h1(class="mb-4") Không tìm thấy sinh viên
  

    