extends ../../layouts/default.pug

block main
  if(user.permissions.includes("professionalTeam_create"))
    h1(class="mb-4") Thêm mới bộ môn

    form(
      action=`${prefixAdmin}/professionalTeam/create`
      method="POST"
    )
      div(class="form-group")
        label(for="name") Tên bộ môn *
        input(
          type="text"
          class="form-control"
          id="name"
          name="name"
          required
        )
      
      div(class="form-group")
        label(for="id_teacher") Trưởng bộ môn
        select(name="id_teacher" id="id_teacher" class="form-control")
          option(disabled) -- Chọn --
          each teacher in teachers
            option(value=teacher._id) #{teacher.name}

      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusActive"
          name="status"
          value="active"
          checked
        )
        label(for="statusActive" class="form-check-label") Hoạt động
      div(class="form-group form-check form-check-inline")
        input(
          type="radio"
          class="form-check-input"
          id="statusInActive"
          name="status"
          value="inactive"
        )
        label(for="statusInActive" class="form-check-label") Dừng hoạt động

      div(class="form-group")
        button(
          type="submit"
          class="btn btn-primary"
        ) Tạo mới
  else 
    h1 Không có quyền truy cập