extends ../../layouts/default.pug
include ../../mixins/moment.pug

block main
  h1(class="mb-4") Thêm giảng viên vào tổ bộ môn

  form(
    action=`${prefixAdmin}/professionalTeam/insertTeacher/${professionalTeamId}`
    method="POST"
  )
    div(class="form-group")
      label(for="id_course") <b>Danh sách giảng viên</b>
      table(
        class="table table-hover table-sm"
        table-students
      )
        thead 
          tr 
            th 
            th Mã giảng viên
            th Tên giảng viên
            th Giới tính
            th Ngày sinh
            th Quê quán
        tbody
          each teacher in teachers
            tr 
              td(class="text-center") 
                input(type="checkbox" name="id_teacher" value=teacher._id checked=(teacher.id_professionalTeam==professionalTeamId?true:false))
              td #{teacher.teacherCode}
              td #{teacher.name}
              td #{teacher.gender==0?"Nam":"Nữ"}
              td 
                +formatDate(teacher.birthday)
              td #{teacher.countryside}

    div(class="form-group")
      button(
        type="submit"
        class="btn btn-primary"
      ) Thêm mới