.sider 
  .inner-menu 
    ul 
      li 
        a(href=`${prefixAdmin}/`) Tổng quan
      li 
        a(href=`${prefixAdmin}/department`) Khoa 
      li
        a(href=`${prefixAdmin}/course`) Môn
      li 
        a(href=`${prefixAdmin}/classManagement`) Lớp quản lý
      li 
        a(href=`${prefixAdmin}/classRoom`) Lớp học phần
      li 
        a(href=`${prefixAdmin}/programFrame`) Chương trình khung
      li 
        a(href=`${prefixAdmin}/schedule`) Thời khóa biểu
      li
        a(href=`${prefixAdmin}/student`) Sinh viên
      li
        a(href=`${prefixAdmin}/teacher`) Giảng viên
      li  
        a(href=`${prefixAdmin}/admin-account`) Tài khoản admin
      li 
        a(href=`${prefixAdmin}/teacher-account`) Tài khoản giảng viên
      li
        a(href=`${prefixAdmin}/student-account`) Tài khoản sinh viên
      li 
        a(href=`${prefixAdmin}/room`) Phòng học