extends ../../layouts/default
include ../../mixins/moment.pug

block main 
  h1(class="mb-4") Danh sách tài khoản quản trị
  .card.mb-3
    .card-header Danh sách
    .card-body 
      table(
        class="table table-hover table-sm"
      )
        thead
          tr 
            th STT 
            th Avatar
            th Họ Tên
            th Email
            th Số điện thoại
            th Trạng thái
            th Hành động
        tbody 
          if(listAccount && listAccount.length>0)
            each account,index in listAccount 
              tr 
                td #{index+1}
                td 
                  img(src=account.avatar||"/admin/images/avatar.jpg" alt = account.fullName style="width:150px")
                td #{account.fullName}
                td #{account.email}
                td #{account.phone}
                td 
                  if(account.status == "active")
                    a(
                      href="javascript:;" 
                      class="badge text-bg-success"
                      data-status=account.status
                      data-id=account._id 
                      type="admin-account"
                      ) Hoạt động
                  else
                    a(
                      href="javascript:;" 
                      class="badge text-bg-danger"
                      data-status=account.status
                      data-id=account._id
                      type="admin-account"
                      ) Dừng hoạt động
                
                td 
                  a(
                    class="btn btn-secondary btn-sm"
                    href=`${prefixAdmin}/admin-account/detail/${account._id}`
                  ) Chi tiết
                  a(
                    class="btn btn-warning btn-sm"
                    href=`${prefixAdmin}/admin-account/edit/${account._id}`
                  ) Sửa
                  button(
                    class="btn btn-danger btn-sm ml-1"
                    button-delete
                    data-id=account._id
                    type="admin-account"
                  ) Xóa
          else
            tr
              td(colspan="4" class="text-center") 
                h3 Không có tài khoản nào

